In [89]:
import numpy as np
import pandas as pd

In [117]:
df = pd.read_csv("adult.data.csv")

In [118]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [119]:
df.race.value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [93]:
df.age[df.sex == "Male"].mean()

39.43354749885268

In [203]:
(df.education[df.education == "Bachelors"].value_counts().sum() / df.value_counts().sum())*100

16.44605509658794

In [34]:
df.education.value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [208]:
higher_education = df[(df.education == "Bachelors") | (df.education == "Masters") | (df.education == "Doctorate")].value_counts().sum()

In [210]:
lower_education = df[(df.education != "Bachelors") & (df.education != "Masters") & (df.education != "Doctorate")].value_counts().sum()

In [209]:
(df[((df.education == "Bachelors") | (df.education == "Masters") | (df.education == "Doctorate")) & (df.salary == ">50K")].value_counts().sum()/higher_education)*100

46.535843011613935

In [214]:
(df[(df.education != "Bachelors") & (df.education != "Masters") & (df.education != "Doctorate") & (df.salary == ">50K")].value_counts().sum()/lower_education)*100

17.3713601914639

In [78]:
(df[(df.education != "Bachelors") & (df.education != "Masters") & (df.education != "Doctorate")].value_counts().sum())

25070

In [79]:
(4355/25070)*100

17.3713601914639

In [80]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [224]:
min_work_hours = df.get("hours-per-week").min()

In [227]:
df[df.get("hours-per-week") == min_work_hours].value_counts().sum()

20

In [229]:
num_min_workers = df[(df.get("hours-per-week") == min_work_hours) & (df.salary == ">50K")].value_counts().sum()

In [231]:
(num_min_workers / df[df.get("hours-per-week") == min_work_hours].value_counts().sum())*100

10.0

In [152]:
df.get("native-country")[df.salary == ">50K"].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [154]:
df.get("native-country").value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [232]:
((df.get("native-country")[df.salary == ">50K"].value_counts())/(df.get("native-country").value_counts())*100).idxmax()

'Iran'

In [191]:
(((df.get("native-country")[df.salary == ">50K"].value_counts())/(df.get("native-country").value_counts()))*100).max()

41.86046511627907

In [192]:
df.occupation[df.get("native-country") == "India"].value_counts().idxmax()

'Prof-specialty'